#root {
  height: 100dvh;
  width: 100dvw;
}

.pagination-button {
  cursor: pointer;
}

.pagination-button:disabled {
  cursor: default; /* This will make the cursor appear as 'default' (non-clickable) */
  opacity: 0.5; /* Optional: make the button visually look disabled */
}

.loader {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.pagination-content {
  margin-bottom: 20px; /* Space between items and pagination */
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-buttons {
  display: flex;
  gap: 5px;
}

.pagination-button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-items-per-page {
  display: flex;
  align-items: center;
}

.loader {
  text-align: center;
  font-size: 18px;
  color: #333;
}
