.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  .draggable-item {
    padding: 8px;
    margin: 4px;
    background-color: #f0f0f0;
    cursor: move;
    transition: transform 0.2s ease, opacity 0.2s ease, box-shadow 0.2s ease;
  }

  .draggable-item.dragging {
    opacity: 0.5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .draggable-item.drag-over {
    border: 2px dashed #000;
  }
}
